.body1{
    background-color: beige;
}
.header {
    background-color: navy;
    padding: 15px;
    text-align: center;
    font-family: arial;
  }
  .text-heading {
    color: white;
    text-align: center;
    font-family: arial;
  }
  .columnB
  {
    float: left;
    width: 40%;
    padding: 15px;
    text-align:justify;
    background-color: beige;
    font-family: arial;
  }
  .columnA {
    float: left;
    width: 25%;
    padding: 15px;
    text-align:justify;
    background-color: beige;
    font-family: arial;
  }
  .columnC {
    float: left;
    width: 25%;
    padding: 15px;
    text-align:justify;
    background-color: beige;
    font-family: arial;
  }
  .nav_menu{
    overflow: hidden;
    background-color: #333;
    text-align: center;
    font-family: arial;
  }
  .nav_menu a {
    float: left;
    display : inkline;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav_menu a:hover{
    background-color: white;
    color: green;
  }
  .footer {
    background-color: navy;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    background-color: #333;
    clear: left;
    font-family: arial;
  }
  .footer a{
    display: inkline;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial;
  }
  .mid{
    padding-left: 45px;
    background-color: bisque;

  }
  .columnA1{
    text-align:center;
    border-color: black;
    border-style:ridge;
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
  }
  .monkey{
      text-align: center;
      background-color: black;
      border-color: black;
      border-style:double;

  }

  .col1{
    text-align: center;
    font-size: 1cm;
  }
  .logo{
    text-align: center;
    background-color: bisque;
  }
  .home1{
    background-color:beige;
  }
  .blog1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1cm;
    background-color: bisque;
  }
  .blog2{
    text-align: center;
    font-size: 150%;

  }
  .blog3{
    background-color: beige;
  }
  .title1{
    font-size: 1cm;
  }
  .p1{
    font-size: 60%;
  }
  .background3{
    background-color: bisque;
  }
  .logo1{
    text-align: left;
 
  }
  .p2{
    font-size: 1%;
    float:left;
  }
